*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*Header*/
.header {
    background-color: #272727;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
}
.menu {
    display: flex;
    align-items: flex-start;
    list-style: none;
}
.menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.menu a i {
    font-size: 30px; /* Tamaño de los iconos */
}
.menu a span {
    margin-top: 5px;
}
.menu a:hover i {
    transform: scale(1.2);
    color: #C4051F;
}
.menu a:hover span {
    color: #C4051F;
    transform: scale(1.2);
}
.search-bar {
    display: flex;
    align-items: center;
}
.btns {
    /* agregado para responsive  */
    width: auto;
    height: auto;
    display: flex;
  }
.search-bar input[type="text"] {
    padding: 10px 5px 5px 5px;
    margin: 9px 9px 0px 0px;
    border: none;
    border-radius: 0;
    outline: none;
    height: 55px;
    width: 300px;
    font-size: 50px;
    font-family: 'Bebas Neue', sans-serif;
    vertical-align: middle;
}
.vic {
    width: 200px;
    height: 75px;
    vertical-align: middle;
  }


/**Body**/
main {
    width: 90%;
    background-color: #F7F7F7;
    margin: auto;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

/*Título*/
.imghello {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 30%; /* Proporción de aspecto 16:9 (1080/1920) */
    background-color: black;
} 
#imgmain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5); /* Aplica el efecto de oscurecimiento */
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f7f780;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.imghello {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 30%; /* Proporción de aspecto 16:9 (1080/1920) */
    background-color: black;
    overflow: hidden;
} 
#imgmain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5); /* Aplica el efecto de oscurecimiento */
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*BODY*/
#fullbody {
    background-color: #f7f7f7;
    padding: 20px;
} 
#primcont {
    display: flex;
}  
.store-wrapper {
    display: flex;
    justify-content: center;
} 
#shop {
    width: 270px;
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
}
#shop a {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    justify-content: center;
    height: 70px;
    background-color: #3a3635;
    color: #8a8a8a;
    text-decoration: none;
}
#shop a:hover{
    color: white;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.produ {
    height: 270px;
    width: 200px;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}
.produ:hover {
    transform: scale(1.1);
    border: 1px solid #c4c4c4;
}
.produ .image img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}
.produ .nomb {
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #3A3635
}
.produ .precio {
    color: #8c0d1e;
    font-weight: bold;
    text-align: center;
    font-family: 'News Cycle', sans-serif;
}
  
/*Footer*/
footer {
    text-align: center;
    background-color: #272727;
    padding: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.division {
    flex: 1 1 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F7F7F7;
    text-align: justify;
}
.division img {
    width: 150px;
}
.division p {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 15px;
    font-family: 'News Cycle', sans-serif;
}
h4{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: lighter;
    color: #F7F7F7;
}
#foottxt{
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    line-height: 1.2
}
.division2 {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.division2 a{
    color: #F7F7F7;
    padding: 5px;
    font-family: 'News Cycle', sans-serif;
    font-weight: bold;
}
.division2 a:hover {
    color: #1F4F92;
    font-size: 16px;
}
i{
    font-size: 50px;
    color: #F7F7F7;
}
#iconfooter:hover{
    color: #C4051F;
    font-size: 51px;
}
.division3 {
    display: grid;
    align-content: space-evenly;
}
 i:hover{
    color: #C4051F;
}
.division4{
    grid-column: 1/4;
    font-family: 'News Cycle', sans-serif;
    color: #8a8a8a;
}



/*Personajes Texto
fonts:
h: font-family: 'Bebas Neue', sans-serif;
h2: font-family: 'News Cycle', sans-serif;
b: font-family: 'Comic Neue', cursive;
hulk: font-family: 'Bangers', cursive;


.image-title {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
padding: 10px;
background-color: rgba(0, 0, 0, 0.7);
color: #fff;
font-size: 16px;
font-weight: bold;
text-align: center;
}
*/

/* RESPONSIVE PARA 480px ------------------------------------------------------------------*/
@media (max-width: 480px) {
  
    /* header  */
    .header {
      height: auto;
      display: flex;
      flex-direction: column;
    }
    .menu {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
    }
    .search-bar input[type="text"] {
      height: 35px;
      width: 250px;
      font-size: 25px;
    }
    .btns {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .menu a i {
      font-size: 20px; /* Tamaño de los iconos */
    }
    .menu a span {
      margin-top: 10px;
    }
    #primcont{
        display: flex;
        flex-direction: column;
        
      }
  /*------------main y aside------*/
  
    #noti h1{
        font-size: 30px;
    }
    #noti h5{
        margin: 10px 10px 20px 15px;
        width: 400px;
        text-align: justify;
        font-family: "News Cycle", sans-serif;
        font-size: 20px;
        color: #272727;
        line-height: 1;
    }
    #noti h6{
        margin: 10px 10px 20px 15px ;
        width: 400px;
        text-align: justify;
        font-family: 'News Cycle', sans-serif; 
        font-size: 20px; 
        color: #272727; 
        line-height: 1.0"
    }
    #h6-across{
        margin: 20px 30px; 
        text-align: justify;
        font-family: 'News Cycle', sans-serif; 
        font-size: 25px; 
        color: #272727; 
        line-height: 1.0;
        
    }
    
    #noti p {
        flex: 1;
        width: 400px;
        margin: 10px 10px 30px 15px;
        text-align: justify;
        font-family: "Comic Neue", cursive;
        font-size: 18px;
        line-height: 1;
      }
      .spiderverse-png{
        width: 400px; 
        height: auto; 
        margin: 20px 15px;
    }
    .spiderverse1-png{
        width: 400px;
         height: auto; 
         margin: 20px 0px;
    }
    #youtube-spider{
        overflow:hidden; 
        margin-left: 15px; 
        margin-right: 10px; 
        height: 250px; 
        width: 400px; position: relative;
    }

    .store-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 
    
    #shop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 400px;
    }

    .productos{
        display: flex;
        flex-direction: row;
        width: 400px;
        margin-left: 15px;
        justify-content: center;    
    }
    .produ{
        width: 200px;
    }
    footer {
        display: flex;
        flex-direction: column;
      }  
}